<div class="manage-settings-context">
  <div class="settings-header">
    <div class="settings-profile">
      <div class="settings-circle">
        <img src="../../../../../../../assets/images/dashboard/leftSlider/profile/profileAvatar.webp" alt=""><img
      />
      </div>
      <div>
        <h1>Enoke Deelaka</h1>
        <p>enokedeelakakulathunga@gmal.com</p>
      </div>
    </div>
  </div>
  <div class="settings-body">
    <app-settings-personal-info></app-settings-personal-info>
    <app-settings-security></app-settings-security>
  </div>
</div>

