<div class="main-outer-activity-feed">
  <div class="activity-feed-header">
    <h1>Activity Feed</h1>
  </div>
  <div class="cards">
    <div class="card-item">
      <p>New user added successfully</p>
    </div>
    <div class="card-item">
      <p>New user added successfully</p>
    </div>
    <div class="card-item">
      <p>New user added successfully</p>
    </div>
    <div class="card-item">
      <p>New user added successfully</p>
    </div>
    <div class="card-item">
      <p>New user added successfully</p>
    </div>
    <div class="card-item">
      <p>New user added successfully</p>
    </div>
    <div class="card-item">
      <p>New user added successfully</p>
    </div>
    <div class="card-item">
      <p>New user added successfully</p>
    </div>
    <div class="card-item">
      <p>New user added successfully</p>
    </div>
    <div class="card-item">
      <p>New user added successfully</p>
    </div>
  </div>
</div>
