.main-outer {
  width: 100%;
  height: 100%;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/big-balloon.appspot.com/o/Login%2FloginImage.png?alt=media&token=86b5e1fd-517d-4269-8fab-c026f3d6a84b");
  background-size: 100% 100%;
  border-radius: 27px 0 0 27px;
}
