<div class="operator-dashboard-body">
  <div class="cards-outer">
    <div class="row rows">
      <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-1">
        <div class="upper-part-cells">
          <div class="row rows">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 upper-part-cols">
              <div class="cards-upper-inner">
                <div class="card-inner-section-1">
                  <h1>ANEMOMETER</h1>
                </div>
                <div class="card-inner-section-2">
                  <h1>8.5 KN</h1>
                </div>
                <div class="card-inner-section-3"></div>

              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 upper-part-cols">
              <div class="cards-upper-inner">
                <div class="card-inner-section-1">
                  <h1>LOAD CELL</h1>
                </div>
                <div class="card-inner-section-2">
                  <h1>8.5 Kg</h1>
                </div>
                <div class="card-inner-section-3"></div>

              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 upper-part-cols">
              <div class="cards-upper-inner">
                <div class="card-inner-section-1">
                  <h1>HELIUM MIN/MAX</h1>
                </div>
                <div class="card-inner-section-2">
                  <h1>8.5 KN</h1>
                </div>
                <div class="card-inner-section-3"></div>

              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 upper-part-cols">
              <div class="cards-upper-inner">
                <div class="card-inner-section-1">
                  <h1>HELIUM LOSS</h1>
                </div>
                <div class="card-inner-section-2">
                  <h1>0 kg</h1>
                </div>
                <div class="card-inner-section-3"></div>

              </div>
            </div>
          </div>
        </div>
        <div class="lower-part-weather">
          <div class="row rows">
            <div class="col-7 weather-col-1">
              <h1>WEATHER FORECAST (GLOBAL VILLAGE)</h1>
              <p>Current Temp:&nbsp; 30 C</p>
              <p>Current Wind Speed:&nbsp; 9 Km/h</p>
            </div>
            <div class="col-5 weather-col-2">
              <div class="weather-header">
                <h1>Next 4 hours prediction</h1>
                <p>Temperature & Wind Speed</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-1">
        <div class="card-flights">
          <div class="top-flight-check">
            <div class="top-flight-check-header">
              <h1>PRE - FLIGHT CHECK</h1>
              <div>
                <p>Flight Number : <span>BB007</span></p>
                <p>Date & Time : <span>2022/08/09</span></p>
                <p># of Passengers : <span>50</span></p>
                <p>Allowable Weight : <span>250kg</span></p>
                <p>Actual Weight : <span>250kg</span></p>
              </div>
              <!--              <button mat-flat-button color="primary">Start New Flight</button>-->
              <!--              <mat-divider></mat-divider>-->
            </div>
          </div>
          <div class="bottom-previous-check">
            <h1>PRE - FLIGHT CHECK</h1>
            <div>
              <p>Flight Number : <span>BB007</span></p>
              <p>Date & Time : <span>2022/08/09</span></p>
              <p># of Passengers : <span>50</span></p>
              <p>Allowable Weight : <span>250kg</span></p>
              <p>Actual Weight : <span>250kg</span></p>
            </div>
            <mat-divider></mat-divider>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
